body{
    background-image: url(/img/cat2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,h2{
    text-align: center;    
}
p{
    font-size: 20px;
    padding: 30px;
    color: darkblue;
    text-align: justify;

}
a{
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    display: block;
}
/*
# = ID 
. = Class
*/
.center{
    margin:auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    color: white;
}
img{
    display: block;
    margin:auto;
    border: 3px solid black;
    border-radius: 25%;
    opacity: 90%;
    box-shadow: 5px 5px 5px darkorchid;
}
ul{
    list-style: none;
    text-align: center;
}