body {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: auto;
}
p {
  font-weight: bolder;
}
ul li {
  list-style: none;
}

.imgPack{
  display: block;
  width: 100%;
  object-fit: contain;
}
.imgPack img {
  border-style: solid;
  border-radius: 25%;
  transition: width 3s, height 2s, border-color 2s;
  box-shadow: 10px 10px 5px lightslategray;
}

.imgPack img:hover {
  width: 250px;
  height: 250px;
  border-color: blue;
}
