<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styleActividad.css'%}">

</head>

<body>
    <main>
        <div id="contenedor">
            <div id="lateral">
                <ul>
                    <li><a href="{% url 'index' %}">Opcion 1 </a></li>
                    <li><a href="#">Opcion 2 </a></li>
                    <li><a href="#">Opcion 3 </a></li>
                    <li><a href="#">Opcion 4 </a></li>
                </ul>
            </div>
            <div id="central">
                <div id="rojo">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque aut aliquam eveniet, odio sed
                        placeat rerum similique sunt expedita omnis in beatae sapiente mollitia voluptatum dolor,
                        aliquid molestias consequuntur provident.</p>
                </div>
                <div id="azul">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque aut aliquam eveniet, odio sed
                        placeat rerum similique sunt expedita omnis in beatae sapiente mollitia voluptatum dolor,
                        aliquid molestias consequuntur provident.</p>
                </div>
                <div id="verde">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque aut aliquam eveniet, odio sed
                        placeat rerum similique sunt expedita omnis in beatae sapiente mollitia voluptatum dolor,
                        aliquid molestias consequuntur provident.</p>
                </div>
                <div id="naranjo">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque aut aliquam eveniet, odio sed
                        placeat rerum similique sunt expedita omnis in beatae sapiente mollitia voluptatum dolor,
                        aliquid molestias consequuntur provident.</p>
                </div>
            </div>
        </div>

    </main>

</body>

</html>