<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/funciones.js'%}"></script>
</head>

<body>

    {% include 'base/header.html' %}
    <main>
        <img src="" alt="">
        <h3>Bievenido usuario {{ usuario }} </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, eum ad. At, pariatur? Ipsum, alias. Ut non
            itaque ea. Quae tempora voluptate numquam. Laborum dicta blanditiis tempore praesentium. Quod, odit.
        </p><br>
        <a href="{% url 'page2' %}">Ir a pagina 2</a><br>
        <a href="{% url 'page3' %}">Ir a pagina 3 </a>

    </main>

    {% include 'base/footer.html' %}
</body>

</html>