<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenedor</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
    {% include 'base/header.html'%}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8 shadow-lg mx-auto text-center p-3">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <h2>Login de Acceso</h2>
                        <div class="form-floating mb-3 w-25 mx-auto">
                            <input type="text" class="form-control" id="username" name="username" placeholder="">
                            <label for="username" class="form-label">Usuario</label>
                        </div>
                        <div class="form-floating mb-3 w-25 mx-auto">
                            <input type="password" class="form-control" id="password" name="password" placeholder="">
                            <label for="password" class="form-label">Contraseña</label>
                        </div>
                        {% if mensaje %}
                        <div class='{{design}}'>
                            {{mensaje}}
                        </div>
                        {% endif%}
                        <div class="form-floating mb-3 w-25 mx-auto">
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </main>
    {% include 'base/footer.html'%}

    <script src='{% static 'js/bootstrap.bundle.min.js' %}'></script>
</body>

</html>