<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <main>
        {% if usuario != '' %}
        <h3>Bienvenido usuario {{ usuario }}</h3>
        {% else%}
        <h3> Bienvenido invitado</h3>
        {% endif%}
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste delectus, corrupti dignissimos
            laudantium doloremque officia sapiente eos molestias nesciunt autem iure reiciendis temporibus? Dolorum, est
            temporibus! Libero, reiciendis unde?
        </p><br>
        <a href="{% url 'page2' %}">Ir a pagina 2</a>
    </main>

</body>

</html>